body
	min-height: 100vh
img
	max-width: 100%

main
	center(900px)
	header img
		col(1/3)
		shift(1/3)
		@media(max-width: 35rem)
			col(3/3)
			unshift()
	footer img
		col(4/6)
		shift(1/6)
		@media(max-width: 35rem)
			col(3/3)
			unshift()
