{#
 # Homepage template
 # ---------------
 #}

{% extends "layouts/_layout.html" %}

{% block content %}
<main>
	<header>
	  <img src="assets/img/HauslerHead_300px.svg" alt="Logo Häusler">
	</header>
  	<section id="content">
		<div class="main-gallery">
			<img src="assets/img/slides/HaeuslerXmas2015_1.jpg.jpg" alt="HomeSlideshow#1">
			<img src="assets/img/slides/HaeuslerXmas2015_2.jpg.jpg" alt="HomeSlideshow#2">
			<img src="assets/img/slides/HaeuslerXmas2015_3.jpg.jpg" alt="HomeSlideshow#3">
			<img src="assets/img/slides/HaeuslerXmas2015_4.jpg.jpg" alt="HomeSlideshow#4">
			<img src="assets/img/slides/HaeuslerXmas2015_5.jpg.jpg" alt="HomeSlideshow#5">
		</div>
  	</section>
  <footer>
    <img src="assets/img/HauslerFoot_Neutral_600px.svg" alt="Footer Bild">
  </footer>
</main>
{% endblock %}
